.user-png{
    width:30px;
    height:30px;

}
.navbar-brand{
    color:rgba(250, 61, 8, 0.94);
    font-size:25px;
    font-weight:bold;
}
.btn-nav{

    background-color:rgba(250, 61, 8, 0.94);
    border-radius:12px;
    color:white !important;
    font-weight:bold;
}